:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #f6f8fc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  padding: 24px;
  max-width: 1440px;
  margin: 0 auto;
}

.pokemon-card {
  border-radius: 16px;
  background: white;
  transition: all 0.3s ease;
  border: 1px solid #f4f4f4;
  height: 100%;
}

.pokemon-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.pokemon-card .ant-card-cover {
  padding: 24px;
  background: #f7f9fb;
  border-radius: 16px 16px 0 0;
}

.pokemon-card .ant-card-meta-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px !important;
}

.pokemon-card .ant-card-meta-description {
  height: auto;
  color: #666;
}
